<igx-card class="app__list-holder" elevated>
  <igx-card-header class="app__card-header app__card-header--info">
    <h5 igxCardHeaderSubtitle>{{ type }}</h5>
    <button (click)="navigate()" igxIconButton="flat">
      <igx-icon>link</igx-icon>
    </button>
    <!-- <h3 igxCardHeaderTitle>{{ totalCases | number}}</h3> -->
  </igx-card-header>
  <igx-divider></igx-divider>
  <igx-card-content class="app__card-content">
    <igx-list class="app__list-inner" [style.--ig-size]="'var(--ig-size-medium)'">
      @for (item of listSortedData; track item) {
        <igx-list-item #item (click)="onListItemClicked(item)">
          @if (item.SravzId) {
            <span igxListLineTitle>{{item.SravzId}}</span>
          }
          @if (item.Name) {
            <span igxListLineTitle>{{item.Name}}</span>
          }
          @if (item.name) {
            <span igxListLineTitle>{{item.name}}</span>
          }
          @if (item.text) {
            <span igxListLineTitle>{{item.text}}</span>
          }
          @if (item.title) {
            <span igxListLineTitle>{{item.title}}</span>
          }
          <!-- <ng-template #country>
          <span igxListLineTitle>{{ item.sravz_id }}</span>
        </ng-template> -->
        @if (item.Last) {
          <span igxListAction>{{ item.Last | number }}</span>
        }
        @if (item.value) {
          <span igxListAction>{{ item.value | number }}</span>
        }
        @if (item.Change) {
          <span igxListAction [style.color]="getFontColor(item.Change)">{{ item.change}}</span>
        }
        @if (item.pnlpercent) {
          <span igxListAction [style.color]="getFontColor(item.pnlpercent)">{{ item.pnlpercent}}</span>
        }
        @if (item.PercentChange) {
          <span igxListAction [style.color]="getFontColor(item.PercentChange)">{{ item.PercentChange
          }}%</span>
        }
        @if (item.linkText) {
          <span igxListLineTitle>{{ item.linkText }}</span>
        }
        <!-- <span *ngIf="item.link" igxListAction>
        <button igxButton="icon" (click)="onListItemClickedNavigateToUrl(item)">
          <igx-icon>link</igx-icon>
        </button>
      </span> -->
    </igx-list-item>
  }
  <ng-template igxEmptyList>
    <div class="app__loader">
      <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
    </div>
  </ng-template>
</igx-list>
</igx-card-content>
</igx-card>