<igx-tabs>
  <igx-tab-item>
    <igx-tab-header>
      <span igxTabHeaderLabel>Details</span>
    </igx-tab-header>
    <igx-tab-content>
      <div>
        <h6>General Information</h6>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Header</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            @for (key of bond?.data | objectKeys; track key) {
              <tr>
                @if (!isObject(bond.data[key])) {
                  <td>{{key}}</td>
                }
                @if (!isObject(bond.data[key])) {
                  <td>{{bond.data[key]}}</td>
                }
              </tr>
            }
          </tbody>
        </table>
        <br>
          <h6>Classification Data</h6>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Header</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              @for (key of bond?.data?.ClassificationData | objectKeys; track key) {
                <tr>
                  @if (!isArray(bond.data.ClassificationData[key])) {
                    <td>{{key}}</td>
                  }
                  @if (!isArray(bond.data.ClassificationData[key])) {
                    <td>{{bond.data.ClassificationData[key]}}</td>
                  }
                </tr>
              }
            </tbody>
          </table>
          <br>
            <h6>Issue Data</h6>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Header</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                @for (key of bond?.data?.IssueData | objectKeys; track key) {
                  <tr>
                    @if (!isArray(bond.data.IssueData[key])) {
                      <td>{{key}}</td>
                    }
                    @if (!isArray(bond.data.IssueData[key])) {
                      <td>{{bond.data.IssueData[key]}}</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
            <br>
              <h6>Rating</h6>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  @for (key of bond?.data?.Rating | objectKeys; track key) {
                    <tr>
                      @if (!isArray(bond.data.Rating[key])) {
                        <td>{{key}}</td>
                      }
                      @if (!isArray(bond.data.Rating[key])) {
                        <td>{{bond.data.Rating[key]}}</td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
              <br>

              </div>
            </igx-tab-content>
          </igx-tab-item>
          <!-- <igx-tab-item>
          <igx-tab-header>
            <span igxTabHeaderLabel>Raw Data</span>
          </igx-tab-header>
          <igx-tab-content>
            <pre>{{bond | json}}</pre>
          </igx-tab-content>
        </igx-tab-item> -->
      </igx-tabs>